canvas { width: 100%; height: 100% }
#info {
	position: absolute;
	top: 10px;
	text-align: center;
	z-index: 100;
    display:block;
    color: aliceblue;
}

.webgl-wrap {
	height: 100%
}

.code-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 320px;
}
.code-container .section {
	height: 100%;
	flex-basis: 50%;
}